body {
  background-color: #00c59e;
  font-family: 'Oswald', sans-serif;
}
.popup {
  width: 300px;
  height: 185px;
  text-align: center;
}
h1 {
  color: #fff;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  margin: 25px 0 0 0;
}
h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  margin: 0 0 25px 0;
}
h3 {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin: -10px 0 25px 0;
}
a, a:focus, a:hover, a:visited {
  border: none;
  text-decoration: none;
  outline: none;
}
.power {
  font-size: 48px;
  font-weight: 700;
  margin: 5px 0 25px 0;
}
.on {
  color: #fff;
  transition: color 0.5s ease;
}
.off {
  color: #2E2B2B;
  transition: color 0.5s ease;
}